/* general setting */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}


/*Cotainer vh 100 */

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
